.wrapper {
  z-index: 10;
  min-width: 210px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}
.container{
  border:1px solid white;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .12);
  margin-top: 6px;
  overflow: hidden;
  min-width: 260px;
  background: var(--header-color);

}
.addButton {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #383839;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s ease;

  &:hover {
    background: #4c4c4c;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  padding: 8px 12px;
  border-radius: 4px;

  cursor: pointer;
  transition: background 0.2s ease;

  &:hover {
    background: #1f1f1f;
  }
}
