
  .container {
    flex: 1 1 auto;       /* прежние стили контейнера */
    overflow: hidden;
    display: flex;
    flex-direction: column;

  }


.layout {
  display: flex;
  height: 100vh;        /* меню тянется на всю высоту */
}
